.ContributerSection {
  margin-top: 250px;
  padding-bottom: 240px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
}

.title {
  width: 553px;
  height: 62px;
  margin: auto;
}

.title h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
}

.subtitle {
  width: 427px;
  height: 60px;
  margin: 25px auto;
}

.subtitle p {
  font-weight: 500;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
}

.search {
  margin: auto;
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
  padding: 10px;
  max-width: 549px;
  max-height: 64px;
  padding-left: 20px;
  border-radius: 15px;
  background-color: var(--gray-color);
}
.search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  padding: 1.5px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.search input {
  width: 100%;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 130.43px;
  height: 48px;
  padding: 12px 28px;
  border-radius: 8px;
  background-color: var(--primary-color);
}

.href {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}
