.footerContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 70px;
  margin-bottom: 98px;
}

.firstSection {
  width: 270px;
}

.titleWrap {
  width: 188px;
  height: 24px;
}

.firstTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.infoWrap {
  width: 260px;
  height: 75px;
}

.info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

.lastSection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 197px;
  margin-left: 156px;
}

.categories {
  width: 112px;
  margin-left: 115px;
}

.companyInfo {
  width: 144px;
  margin-left: 118px;
}

h4 {
  cursor: default;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.lastSection p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0px;
}
